@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;
  width: 80%;
  max-width: 700px;
  font-family: $comfortaa;
  background-color: $color-white;
  margin: 1rem 0 2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  &__headline {
    margin: 1rem;
    @include font-size(22px);
    text-align: center;
    @include desktop {
      @include font-size(28px);
    }
  }

  &__divider {
    width: 70%;
    border: 2px solid $color-yellow;
  }

  &__main {
    max-width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__label-photo,
  &__label,
  &__label-map {
    @include font-size(16px);
    @include desktop {
      @include font-size(22px);
    }
  }

  &__label,
  &__label-map {
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px;
  }

  &__label-photo {
    margin-top: 20px;
  }

  &__photo-input {
    border-radius: 25px;
    width: 200px;
    &::-webkit-file-upload-button {
      display: inline-block;
      border-radius: 25px;
      width: 200px;
      padding: 10px 20px;
      color: $color-black;
      font-family: $comfortaa;
      background-color: $color-white;
      border: 1.5px solid $color-yellow;
      outline: none;
      cursor: pointer;
      @include font-size(16px);
      &:hover,
      &:focus {
        background-color: rgba(255, 186, 0, 0.1);
      }
    }
  }

  &__switch-container {
    margin: 20px 0 -20px;
  }

  &__type-label,
  &__switch-label {
    position: relative;
  }

  &__photo {
    margin: 3px 0 3px 0;
  }

  &__amount {
    margin-right: 10px;
  }

  &__type-input,
  &__phone,
  &__amount,
  &__email,
  &__date {
    padding: 10px 20px;
    border-radius: 25px;
    border: 1.5px solid $color-yellow;
    min-width: 145px;
  }

  &__types,
  &__switches {
    margin: 5px 0;
  }

  &__description {
    border-radius: 10px;
    border: 1.5px solid $color-yellow;
    padding: 10px;
    max-width: 90%;
  }

  &__shelters {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__shelter-select {
    width: 90%;
    border-radius: 25px;
    border: 1.5px solid $color-yellow;
    padding: 10px 20px;
    @include desktop {
      width: 85%;
    }
  }

  &__shelter-option--disabled {
    color: $color-gray;
  }

  &__shelter--emphisize {
    @include font-size(12px);
    margin-top: 5px;
  }

  &__map {
    display: flex;
    border-radius: 10px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 97%;
    position: relative;
  }

  &__button {
    border-radius: 25px;
    width: 150px;
    margin-top: 25px;
    border: 2px solid $color-yellow;
    background-color: $color-yellow;
    padding: 7px 15px;
    @include font-size(22px);
    font-weight: normal;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: rgba(255, 186, 0, 0.8);
      border-color: rgba(255, 186, 0, 0.8);
    }
    &:disabled {
      border: 2px solid $color-gray;
      background-color: $color-white;
      cursor: default;
      &:hover,
      &:focus {
        background-color: $color-white;
      }
    }
  }

  input[type='radio'] {
    margin-right: 10px;
  }

  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -2px;
    margin-right: 5px;
    position: relative;
    background-color: $color-white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1.5px solid$color-yellow;
    cursor: pointer;
    @include desktop {
      left: -4px;
    }
  }

  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -4px;
    position: relative;
    background-color: $color-yellow;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1.5px solid$color-yellow;
  }

  textarea {
    font-family: $comfortaa;
  }

  select,
  textarea,
  input[type='datetime-local'],
  input[type='tel'],
  input[type='email'],
  input[type='file'] {
    &:focus {
      outline: none !important;
      border-color: $color-yellow;
    }
  }

  input[type='datetime-local']::-webkit-inner-spin-button {
    display: none;
  }

  input[type='datetime-local']::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    margin-left: -25px;
  }

  input[type='datetime-local'] {
    font-family: $comfortaa;
    color: $color-gray;
    height: 15px;
    background: #fff url('../../assets/icons/calendar.svg') 90% 50% no-repeat;
  }

  ::placeholder {
    color: $color-gray;
    font-family: $comfortaa;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    font-family: $comfortaa;
  }

  &__input {
    &--invalid:invalid {
      outline: none !important;
      border-color: red;
    }
  }
}
