@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  background-color: $color-white;
  margin: 1rem 0 2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  &__headline {
    margin: 1rem;
    @include font-size(22px);
    text-align: center;
    @include desktop {
      @include font-size(28px);
    }
  }

  &__divider {
    width: 70%;
    border: 2px solid $color-yellow;
    margin-bottom: 30px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__figure {
    text-align: center;
    margin-bottom: 30px;
  }

  &__figure,
  &__figcaption {
    @include font-size(14px);
    text-align: center;
  }

  &__photo {
    width: 100%;
    height: auto;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    flex-direction: column;
    justify-content: center;
  }
  &__type,
  &__description,
  &__email,
  &__phone,
  &__date {
    display: flex;
    @include font-size(14px);
    @include desktop {
      @include font-size(18px);
    }
  }

  &__name {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
    @include font-size(14px);
    @include desktop {
      @include font-size(18px);
    }
  }
}
