@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.members{
  display: flex;
  
}

.wrapper {
  margin-left: 10em;
  flex-basis: 50%;
}


.icons {
  padding: 20px 50px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.link {
  padding: 0 0.5rem;
}
a {
  text-decoration: none;
}
.fa-linkedin {
  color: white;
}
.fa-github-square {
  color: white;
}
.fa-facebook-square {
  color: white;
}
.fab:hover {
  opacity: 0.8;
}