@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.navigation {
  padding: 1rem 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-family: $amatic;
  color: $color-white;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    white-space: nowrap;
  }

  &__name {
    @include font-size(24px);
    font-family: $comfortaa;
    color: $color-white;
    text-decoration: none;
  }

  &__image {
    width: 40px;
    height: auto;
    margin: 0 0 0 1rem;
    @include desktop {
      margin: 0 0 0 2rem;
    }
  }

  &__hamburger {
    display: block;
    background-color: transparent;
    background-image: url('../../assets/img/menu-icon.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 1.5rem;
    border: none;
    cursor: pointer;
    &--closed {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__menu-mobile {
    @include desktop {
      display: none;
    }
  }

  &__list {
    list-style: none;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: $color-greenLight;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    &--closed {
      display: none;
    }
    @include desktop {
      padding: 0;
      position: initial;
      list-style: none;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 1rem 0 0;
      border-radius: none;
    }
  }

  &__item {
    display: flex;
    @include font-size(26px);
    justify-content: center;
    width: 100px;
  }

  &__link {
    color: $color-white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin: 0 2rem;
    &:hover,
    &:focus {
      color: $color-greenDark;
      background-color: $color-yellow;
    }
    @include desktop {
      &:hover,
      &:focus {
        &:before {
          content: '';
          top: -10px;
          width: 25px;
          left: 40%;
          position: absolute;
          border-top: 2px solid $color-white;
          padding-bottom: 10px;
        }
      }
    }
  }
}
