@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.navigation {
  background-color: $color-greenDark;
  padding: 1rem 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: $color-grayMid;
  &__logo > img {
    width: 15%;
    height: auto;
    margin: 0 2rem;

    @include desktop {
      margin: 0 5rem;
    }
  }

  &__hamburger {
    display: block;
    background-color: transparent;
    background-image: url('../../assets/img/menu-icon.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 1.5rem;
    border: none;
    cursor: pointer;
    &--closed {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__menu-mobile {
    @include desktop {
      display: none;
    }
  }

  &__list {
    list-style: none;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: $color-greenDark;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    &--closed {
      display: none;
    }
    @include desktop { 
      padding: 0;
      position: initial;
      list-style: none;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 5rem;
      border-radius: none;
    }
  }

  &__item {
    display: flex;
    @include font-size(18px);
    justify-content: center;
    width: 100px;
  }

  &__link {
    color: $color-grayMid;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin: 0 2rem;
    @include desktop {
      &:hover,
      &:focus {
        &:before {
          content: '';
          top: -10px;
          width: 25px;
          left: 40%;
          position: absolute;
          border-top: 2px solid $color-grayMid;
          padding-bottom: 10px;
        }
      }
    }
  }
}
