@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.home {
  display: flex;

  &__description {
    width: 80vw;
  }

  &__button { 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__headline {
    margin: 1rem;
    @include font-size(22px);
    text-align: center;
    @include desktop {
      @include font-size(28px);
    }
  }
  
}

