@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.home {
  display: flex;

  &__description {
    width: 80vw;
  }

  &__button { 
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

