@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  width: 75%;
  max-width: 700px;
  font-family: $comfortaa;
  background-color: $color-white;
  margin: 1rem 0 2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  &__title {
    margin: 1rem;
    @include font-size(22px);
    text-align: center;
    @include desktop {
      @include font-size(28px);
    }
  }

  &__description {
    width: 100%;
  }

  &__text {
    @include font-size(18px);
    text-align: center;
    @include desktop {
      @include font-size(20px);
    }
  }

  &__divider {
    width: 70%;
    border: 2px solid $color-yellow;
    margin: 0 0 20px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 200px;
    margin: 30px 0;
    background-color: $color-white;
    border: 1px solid $color-yellow;
    border-radius: 10px;
    font-weight: bold;
    font-family: $comfortaa;
    color: $color-black;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $color-yellow;
    }
  }
}
