@import '../../assets/variables.scss';
.geolocation {
  &__button {
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 60px;
    padding: 12px;
    background-color: white;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-family: $comfortaa;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $color-yellow;
    }
  }
}
