@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.footer {
  padding: 1rem 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  color: $color-grayMid;
  background-color: transparent;
}
