// colors
$color-yellow: #ffba00;
$color-brown: #b46617;
$color-greenLight: #6d9773;
$color-greenDark: #0c3b2e;
$color-white: #fcfcfc;
$color-grayMid: #e7eefb;
$color-grayLight: #e8e8e8;
$color-gray: #a5a5a5;
$color-grayDark: #777777;
$color-black: #1d1d1d;
