@import './assets/functions.scss';
@import './assets/mixins.scss';
@import './assets/variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $color-grayMid;
}

main {
  min-height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
