@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

.mapContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 50px 10px;
  @include tablet {
    flex-wrap: nowrap;
  }

  &__button {
    padding: 10px 20px;
    margin: 0 0 10px 0;
    width: 100px;
    background-color: $color-white;
    border: 1px solid $color-yellow;
    border-radius: 10px;
    font-weight: bold;
    font-family: $comfortaa;
    cursor: pointer;
    &--active {
      background-color: $color-yellow;
    }
    &:hover,
    &:focus {
      background-color: $color-yellow;
      transition: 0.3s;
    }
    @include tablet {
      margin: 0;
    }
    @include desktop {
      @include font-size(14px);
    }
  }
}
